<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
<link href="../CSS/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table class="tb_main">
  <tr>
    <td><p>C&#417;  quan, &#273;&#417;n v&#7883; c&oacute; th&#7849;m quy&#7873;n qu&#7843;n l&yacute; CBCC &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.<br />
    C&#417;  quan, &#273;&#417;n v&#7883; s&#7917; d&#7909;ng CBCC &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</p></td>
  </tr>
  <tr>
    <td><p align="center"><strong>S&#416; Y&#7870;U L&Yacute; L&#7882;CH C&Aacute;N B&#7896;, C&Ocirc;NG  CH&#7912;C</strong></p></td>
  </tr>
  <tr>
    <td><table>
      <tr>
        <td  class="cl_anh" width="150" rowspan="5">Anh 4x6 cm</td>
        <td>1) H&#7885; v&agrave; t&ecirc;n khai sinh: </td>
      </tr>
      <tr>
        <td>2) T&ecirc;n g&#7885;i kh&aacute;c:</td>
      </tr>
      <tr>
        <td><table cellpadding="0" cellspacing="0">
          <tr>
            <td width="25%">3) Sinh ng&agrave;y:</p></td>
            <td width="25%">th&aacute;ng</td>
            <td width="25%">n&#259;m</td>
            <td width="25%">Gi&#7899;i t&iacute;nh: </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table>
          <tr>
            <td width="50%">4) N&#417;i sinh: X&atilde; </td>
            <td width="25%"> Huy&#7879;n</td>
            <td width="25%">T&#7881;nh</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table>
          <tr>
            <td width="50%">5)  Qu&ecirc; qu&aacute;n: X&atilde; </td>
            <td width="25%"> Huy&#7879;n</td>
            <td>T&#7881;nh</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
  	<td>
	</td></td>
  </tr>
</table>
</body>
</html>
