/* 
    Document   : style
    Created on : Oct 14, 2013, 11:14:01 PM
    Author     : Nguyen Manh Hung
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-color: #f5f5f5 !important;
    font-family: "Lucida Grande", Verdana, sans-serif !important;
}

input, button, select, textarea {
    font-family: "Lucida Grande", Verdana, sans-serif !important;
}

.container{
    width: 100% !important;
}

.main-header-content, .main-content{
    width: 940px;
}

/* Form Sigin */
.signin_logo{
    padding: 0px;
    margin: 100px auto 0px;
    display: block;
    width: 400px;
    max-width: 400px;
    height: 66px;
    background: url('../img/logo_login.png') no-repeat;
    background-position:center; 
}

.form-signin {
    max-width: 400px;
    padding: 0px 0px 29px;
    margin: 10px auto 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading{
    width: 100%;
    padding: 0px;
    background: url(../img/bhead.gif) 0 0 repeat-x;
    height: 53px;
    line-height: 53px;
}

.form-signin .form-signin-content{
    width: 350px;
    padding: 0px;
    margin: 20px auto 0px;
    background: url('../img/background_login.png') no-repeat;
    background-position: center top; 
}

.form-signin .form-signin-heading-text{
    margin: 0px 20px !important;
    line-height: 53px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    color: #555 !important;
    text-shadow: 1px 1px 0 #fff !important;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Main Header */
.main-header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100px;
    background: #193356;
}

.main-header-content{
    margin: 0px auto;
}

.main-header-left{
    float: left;
    padding: 0px;
    margin: 0px;
}

.main-header-left img{
    border: 0px;
    margin-top: 15px;
}

.main-header-right{
    float: right;
    background: #254777;
    margin: 15px 0px 0px;
    height: 60px;
    padding: 5px 10px;
    line-height: 20px;
    color: #fff;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);

}

.main-header-right a {
    color: #e7ee0e;
    text-decoration: none;
}

.main-header-right a:hover {
    color: red;
}
/* Main content*/
.main-content{
    margin: 20px auto 0px;
    min-height: 460px;
    background-color: #fff;
    border: 0px solid #ccc;
}

.main-content-menu{
    float: left;
    margin: 0px !important;
    padding: 0px;
    width: 100%;
    background: #172736;
    height: 40px;
    border-left: 1px solid #172736;
    border-right: 1px solid #172736;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-content-menu .nav>.active>a, .main-content-menu .nav>.active>a:hover, .main-content-menu .nav>.active>a:focus{
    background: transparent !important;
    color: red !important;
    text-shadow: 0 0px 0 #fff !important;
}

.main-content-menu .nav>li>a{
    background: transparent !important;
    color: #ffffff !important;
    text-shadow: 0 0px 0 #fff !important;
}

.main-content-menu .nav>li>a:hover, .main-content-menu .nav>li>a:focus{
    color: red !important;
}

.main-content-content{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 420px;
    border: 1px solid #ccc;
    border-top: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/* Main Footer*/
.main-footer{
    width: 100%;
    margin: 10px 0px 0px;
    background: #193356;
    text-align: center;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
}