/* 
    Document   : style
    Created on : Oct 14, 2013, 11:14:01 PM
    Author     : Nguyen Manh Hung
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-color: #e7e7e7 !important;
    font-family: "Lucida Grande", Verdana, sans-serif !important;
}

input, button, select, textarea {
    font-family: "Lucida Grande", Verdana, sans-serif !important;
}

.container{
    width: 100% !important;
}

.main-header-content, .main-content, .main-content-menu{
    width: 940px;
}

.table tbody tr > td.success {
  background-color: #dff0d8;
}

.table tbody tr > td.error {
  background-color: #f2dede;
}

.table tbody tr > td.warning {
  background-color: #fcf8e3;
}

.table tbody tr > td.info {
  background-color: #d9edf7;
}

.table-hover tbody tr td.success:hover {
  background-color: #d0e9c6;
}

.table-hover tbody tr td.error:hover {
  background-color: #ebcccc;
}

.table-hover tbody tr td.warning:hover {
  background-color: #faf2cc;
}

.table-hover tbody tr td.info:hover {
  background-color: #c4e3f3;
}

/* Form Sigin */
.signin_logo{
    padding: 0px;
    margin: 100px auto 0px;
    display: block;
    width: 400px;
    max-width: 400px;
    height: 66px;
    background: url('../img/logo_login.png') no-repeat;
    background-position:center; 
}

.form-signin {
    max-width: 400px;
    padding: 0px 0px 29px;
    margin: 10px auto 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading{
    width: 100%;
    padding: 0px;
    background: url(../img/bhead.gif) 0 0 repeat-x;
    height: 53px;
    line-height: 53px;
}

.form-signin .form-signin-content{
    width: 350px;
    padding: 0px;
    margin: 20px auto 0px;
    background: url('../img/background_login.png') no-repeat;
    background-position: center top; 
}

.form-signin .form-signin-heading-text{
    margin: 0px 20px !important;
    line-height: 53px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    color: #555 !important;
    text-shadow: 1px 1px 0 #fff !important;
}

.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Main Header */
.main-header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100px;
    background: #193356;
}

.main-header-content{
    margin: 0px auto;
}

.main-header-left{
    float: left;
    padding: 0px;
    margin: 0px;
}

.main-header-left img{
    border: 0px;
    margin-top: 15px;
}

.main-header-right{
    float: right;
    background: #254777;
    margin: 15px 0px 0px;
    height: 60px;
    padding: 5px 10px;
    line-height: 20px;
    color: #fff;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);

}

.main-header-right a {
    color: #e7ee0e;
    text-decoration: none;
}

.main-header-right a:hover {
    color: red;
}

/* Main menu */
.main-menu{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 40px;
    background: #dadada;
}

.main-content-menu{
    margin: 0px auto !important;
    padding: 0px;    
    height: 40px;
}

.main-content-menu .nav>.active>a, .main-content-menu .nav>.active>a:hover, .main-content-menu .nav>.active>a:focus{
    background: transparent !important;   
    color: #193356 !important;
    font-weight: bold !important;
    text-shadow: none !important;
}

.main-content-menu .nav>li>a{
    background: transparent !important;
    color: #193356 !important;    
    text-shadow: none !important;
}

.main-content-menu .nav>li>a:hover, .main-content-menu .nav>li>a:focus{
    color: red !important;
}

/* Main content*/
.main-content{
    margin: 20px auto 0px;
    border: 0px solid #ccc;
    min-height: 420px;
    display: table;
}


.main-content-box{
    background: #ffffff;
    margin: 0px;
    padding: 10px;
    width: 100%;
    border: 1px solid #b9b9b9;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.sidebar{
    width: 200px;
}

.body_content{
    width: 720px;
}

.float_left{
    float: left;
}

.float_right{
    float: right
}

.bs-docs-sidenav {
    margin: 0px;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;

    margin: 0 0 -1px;
    padding: 8px 4px !important;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 8px 4px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {    
    background-color: #254777 !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.nav-list>li>a{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.nav-list {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.function_style{
    max-width: 100px !important;
}

.order_style{
    max-width: 70px !important;
    width: 70px;
}

.status_style{
    max-width: 80px !important;
    width: 80px;
}

.checkall_style{
    max-width: 15px !important;
    width: 15px !important;
}

.icon_status_active {
    background: url("../img/active.png") no-repeat center top;
    width: 100%;
    height: 16px;
}

.icon_status_inactive {
    background: url("../img/inactive.png") no-repeat center top;
    width: 100%;
    height: 16px;
}

/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

.anh_the{
    width: 100px;
}

.anh_bang_cap{
    max-width: 500px;
    max-height: 500px;
}

.cap_nhat_anh_bang_cap{
    max-width: 450px;
    max-height: 500px;
}

.anh_bang_cap_slide{
}

.thong-tin-ca-nhan [class*="span"] {
    line-height: 25px;
}

.modal_xlager {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 800px;
    margin-left: -400px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.modal_xlager.fade.in {
    top: 10%;
}

.modal_xlager.fade {
    top: -25%;
    -webkit-transition: opacity .3s linear,top .3s ease-out;
    -moz-transition: opacity .3s linear,top .3s ease-out;
    -o-transition: opacity .3s linear,top .3s ease-out;
    transition: opacity .3s linear,top .3s ease-out;
}

.not_yet_read{
    font-weight: bold;
}
/* Main Footer*/
.main-footer{
    width: 100%;
    margin: 10px 0px 0px;
    background: #193356;
    text-align: center;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
}

div.success_ui { background: url(../img/bg_success_message.png) no-repeat 10px 10px }
div.error_ui { background: url(../img/bg_error_message.png) no-repeat 10px 10px }
div.success_ui h1, div.error_ui h1 {
    color: white; padding: 10px 5px 0px 75px; text-align: left
}

div.success_ui h2, div.error_ui h2 {
    color: white; padding: 0px 5px 10px 75px; text-align: left
}

div.success_ui h1, div.error_ui h1{
    font-size: 14px;
    line-height: 20px;
}

div.success_ui h2, div.error_ui h2{
    font-size: 12px;
    line-height: 20px;
}

.ta_left{
    text-align: left !important;
}

.ui-datepicker-trigger{ margin-left: 5px;}