@charset "utf-8";

body {font-family: arial; line-height: 15px; position: static;}
a {text-decoration:none; color:#000; font-weight:normal; cursor: pointer}
a img {border:none}
.bg-white {background:#fff}
.fl {float:left}
.fr {float:right}
*html .fl {display:inline}
*html .fr {display:inline}
.hide {display:none}
.show {display:block}
.tpr {}
.container {margin:0 auto}
.wp100 {width:100%}

.topnewsh .tnlist .nextn, .topnewsh .tnlist .prevn, .sporto .news .ptw .icoplay span {background-image: url("sgpng.png"); background-repeat: no-repeat}
.lgvne, .lgsg, .tndg .tttn i, .tndg .xth, .tndg .stcm {background-image: url("sgjpg.jpg"); background-repeat: no-repeat}
.tnother .bor, .tnother .mid {background-image: url("rpsprites.png"); background-repeat: repeat-x}
.tnother .mid li i, .navtop li .snt, .yah p i, .commentw .btncp {background-image: url("sggif.gif"); background-repeat: no-repeat}

.maintop {padding-bottom: 10px}
.header {width:100%}
.lgvne {width: 221px; height: 43px; background-position: 0 -311px; margin: 35px 45px 0 10px; display: inline}
.lgsg {width: 160px; height: 88px; background-position: -232px -312px; margin: 11px 0 0 0; display: inline}
.adstop {margin: 13px 5px 0 0}

/*topnews home*/
.topnewsh .tnl .borl, .topnewsh .tnl .borr, .topnewsh .bgn {background-image: url("topnewsbg.jpg"); background-repeat: no-repeat}
.topnewsh {width: 670px; height: 195px; margin-bottom: 4px}
.topnewsh .tnl {width: 65px; height: 195px}
.topnewsh .tnr {width: 605px; height: 195px; position: relative}
.topnewsh .tnl .borl {width: 8px; height: 195px; background-position: 0 0}
.topnewsh .tnl .borr {width: 3px; height: 301px; background-position: -13px 0}
.topnewsh .tnl .tnlist {width: 53px; height: 195px; padding: 0 2px; background: #000; position: relative; overflow: hidden}
.topnewsh .tnr .onews {width: 100%; height: 195px; margin: 0; padding: 0; position: relative}
.topnewsh .tnr .onews li {list-style: none; position: absolute; display: none; width: 100%; height: 195px}
.topnewsh .tnr .borl, .topnewsh .tnr .borr {width: 5px; height: 195px; background: url("blankg.png") repeat 0 0; position: absolute; top: 0}
.topnewsh .borl {left: 0; width: 4px}
.topnewsh .borr {left: 245px}
.topnewsh .bgn {width: 355px; height: 195px; background-position: -20px 0; position: absolute; top: 0; right: 0}
.topnewsh .ctcrr {width: 330px; height: 195px; padding: 0 5px 0 20px; position: absolute; top: 0; left: 250px; background: transparent}
.topnewsh .ctcrr h1 {margin: 15px 0 10px}
.topnewsh .ctcrr h1 a {font: bold 20px tahoma; color: #fff;}
.topnewsh .ctcrr p {font: 12px arial; color: #fff; margin: 0; line-height: 20px}
.topnewsh .ctcrr p .Lead1 {font: bold 12px arial; color: #f4f5f6}
.topnewsh .tnlist .nextn, .topnewsh .tnlist .prevn {width: 53px; height: 14px; position: relative; left: 0; display: block; cursor: pointer}
.topnewsh .tnlist .prevn {top: 0; background-position: -13px -138px; border-bottom: 2px solid #000}
.topnewsh .tnlist .nextn {top: 165px; background-position: -13px -159px; border-top: 2px solid #000}
.topnewsh .tnlist .fog {width: 53px; height: 53px; background: url('fog.png') repeat 0 0; position: absolute; top: 0; left: 0}
.topnewsh .tnlist ul {width: 53px; margin: 0; padding: 0; position: absolute; top: 16px}
.topnewsh .tnlist ul li {list-style: none; float: left; padding: 0 0 2px; width: 100%; height: 53px; position: relative}
.topnewsh .tnlist ul li span {width: 53px; height: 53px; background: url('fog.png') repeat 0 0; position: absolute; top: 0; left: 0; cursor: pointer}
*html .topnewsh .tnlist ul li span {background: none}
.topnewsh .tnlist ul li a {float: left; position: absolute; top: 0; left: 0; z-index: 0}
.topnewsh .tnr .onews .hide {display: none}
.topnewsh .tnr .onews .show {display: block}

/*top news other*/
.tnother {width: 100%; margin-bottom: 5px}
.tnother .bor {width: 1px; height: 53px; background-position: 0 0}
.tnother .mid {width: 668px; height: 53px; background-position: 0 -62px; margin: 0; padding: 7px 0 0}
.tnother .mid li {list-style: none; float: left; position: relative; padding: 0 30px 2px; width: 608px; line-height: 14px; height: 12px; overflow: hidden}
.tnother .mid li i {position: absolute; top: 4px; left: 20px; width: 4px; height: 7px; background-position: 0 0; font-size: 0}
.tnother .mid li a {float: left; font: 11px tahoma; color: #000}
.tnother .mid li a:hover {color: #0255a7}
.tnother .mid li span {float: left; font: 11px tahoma; color: #a0a0a0; padding: 0 0 0 3px}


